.cards {
  margin-top: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fruits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
}
.card {
  position: relative;
  margin: 3px;
  border-radius: 5px;
  overflow: hidden;
  width: 120px;
  height: 150px;
}
@media (max-width: 1084px) {
  .card {
    width: 110px;
    height: 130px;
  }
  .fruits{
    width: 95vw;
  }
}
@media (max-width: 610px) {
  .card {
    width: 80px;
    height: 100px;
  }
  .fruits{
    width: 95vw;
  }
}
.card-hard {
  position: relative;
  margin: 3px;
  border-radius: 5px;
  overflow: hidden;
  width: 100px;
  height: 120px;
}
.btn-back {
  padding: 2px 7px;
  background-color: transparent;
  transition: 2s linear;
  position: fixed;
  top: 5px;
  left: 10px;
  display: flex;
}
.btn-back:hover {
  animation: aniBorder 1.5s linear infinite;
}
@keyframes aniBorder {
  0% {
    border-right: #fdba00 0.3px solid;
  }
  33% {
    border-top: #fdba00 0.5px solid;
  }
  66% {
    border-left: #fdba00 0.7px solid;
  }
  100% {
    border-right: #fdba00 0.3px solid;
    border-bottom: #fdba00 1px solid;
    box-shadow: #fdba00 0 0 5px 0;
  }
}
.btn-link-back {
  color: black;
  font-size: 1rem;
  padding: 10px;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: blue;
  transition: 1s ease-in;
  animation: Flip-front 0.4s linear;
}

.back {
  background-color: rgb(48, 149, 236);
  transition: 1s ease-in;
  animation: Flip-back 0.4s linear;
}

.btn-win {
  font-size: 0.8rem;
  padding: 8px;
  margin: 20px 5px 0px 5px;
}

.btn-link {
  font-size: 0.8rem;
  padding: 8px;
  color: black;
}

@keyframes Flip-front {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

@keyframes Flip-back {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
.fruit-back {
  width: 40%;
  height: 32%;
  object-fit: cover;
}
.fruit-front {
  width: 68%;
  height: 54%;
  object-fit: cover;
}
.shuffle {
  display: none;
}
.win {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(4, 28, 50, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: none;
}
.win-content {
  background-color: aliceblue;
  width: 30vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  font-size: 2rem;
}
.top {
  position: fixed;
  top: 5px;
  left: calc(50% - (151.71px / 2));
}
.btn__board{
  position: fixed;
  top: 0.8%;
  left: 10%;
  padding: 0.55rem 1rem;
  font-size: 1.4rem;
  background-color: transparent;

}
.btn__board:hover{
  border: 2px solid #fdba00;
}
.board-fixed {
  position: fixed;
  left: -100%;
  top: 30%;
  background-color: white;
  z-index: 9999;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .btn__board{
    position: fixed;
    top: 15%;
    left: 1.5%;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: transparent;
  }
}
